<packages>
    <package Id="7zip" />
    <package Id="7zip.install" />
    <package Id="adb" />
    <package Id="angryip" />
    <package Id="anki" />
    <package Id="audacity" />
    <package Id="autohotkey.portable" />
    <package Id="autoit" />
    <package Id="autoit.install" />
    <package Id="bonjour" />
    <package Id="bsplayer" />
    <package Id="chocolatey" />
    <package Id="chocolatey-core.extension" />
    <package Id="chocolatey-dotnetfx.extension" />
    <package Id="chocolatey-misc-helpers.extension" />
    <package Id="chocolatey-windowsupdate.extension" />
    <package Id="cpu-z" />
    <package Id="cpu-z.install" />
    <package Id="djvu-libre" />
    <package Id="DotNet4.5.2" />
    <package Id="dotnet4.7" />
    <package Id="dotnet4.7.2" />
    <package Id="dotnetfx" />
    <package Id="Everything" />
    <package Id="Far" />
    <package Id="fbreader" />
    <package Id="ffmpeg" />
    <package Id="firefox-dev" />
    <package Id="foobar2000" />
    <package Id="garmin-express" />
    <package Id="gcloudsdk" />
    <package Id="git.install" />
    <package Id="golang" />
    <package Id="googleearth" />
    <package Id="googleearthpro" />
    <package Id="gpg4win-vanilla" />
    <package Id="gpu-z" />
    <package Id="gsmartcontrol" />
    <package Id="hexchat" />
    <package Id="hwinfo" />
    <package Id="InkScape" />
    <package Id="insomnia-rest-api-client" />
    <package Id="intel-dsa" />
    <package Id="irfanview" />
    <package Id="irfanviewplugins" />
    <package Id="javaruntime" />
    <package Id="jdk8" />
    <package Id="joplin" />
    <package Id="jq" />
    <package Id="jre8" />
    <package Id="KB2670838" />
    <package Id="KB2919355" />
    <package Id="KB2919442" />
    <package Id="KB2999226" />
    <package Id="KB3033929" />
    <package Id="KB3035131" />
    <package Id="KB4019990" />
    <package Id="nextcloud-client" />
    <package Id="nirlauncher" />
    <package Id="notepadplusplus" />
    <package Id="notepadplusplus.install" />
    <package Id="obs-studio" />
    <package Id="obs-studio.install" />
    <package Id="openvpn" />
    <package Id="packer" />
    <package Id="paint.net" />
    <package Id="picpick.portable" />
    <package Id="postman" />
    <package Id="python3" />
    <package Id="R.Project" />
    <package Id="R.Studio" />
    <package Id="skype" />
    <package Id="slack" />
    <package Id="smartmontools" />
    <package Id="SQLite" />
    <package Id="steam" />
    <package Id="sublimetext3" />
    <package Id="svn" />
    <package Id="sysinternals" />
    <package Id="teamviewer" />
    <package Id="tortoisesvn" />
    <package Id="treesizefree" />
    <package Id="trid" />
    <package Id="vagrant" />
    <package Id="vcredist140" />
    <package Id="vcredist2010" />
    <package Id="vcredist2015" />
    <package Id="vcredist2017" />
    <package Id="virtualbox" />
    <package Id="visualsvn" />
    <package Id="vlc" />
    <package Id="vmware-workstation-player" />
    <package Id="vscode" />
    <package Id="vscode.install" />
    <package Id="Wget" />
    <package Id="winamp" />
    <package Id="windirstat" />
    <package Id="winmerge" />
    <package Id="WinPcap" />
    <package Id="winscp" />
    <package Id="winscp.install" />
    <package Id="xmind" />
    <package Id="youtube-dl" />
</packages>
